{#
/**
 * @file
 * Theme override for banner messages.
 *
 * Displays banner, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - banner_headings: List of all banner types.
 * - display: (optional) May have a value of 'banner' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
{% set banner__base_class = 'banner' %}
{% for type, messages in message_list %}
  <div{% if not presentational %} role="contentinfo"{% endif %} aria-label="{{ type }}"{{ attributes|without('role', 'aria-label') }}>
    {% if type == 'error' %}
      <div role="alert">
    {% endif %}
      {% if type %}
        <h2 class="visually-hidden">{{ type }}</h2>
      {% endif %}
      <ul {{ bem('list', [], banner__base_class)}}>
        {% for message in messages %}
          <li {{ bem(banner__base_class, [type])}}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% if type == 'error' %}
      </div>
    {% endif %}
  </div>
{% endfor %}
